#main-img {
    width: 30%;
    height: auto;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.reverse-flex {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1200px) {
    #main-img {
        width: 50%;
        height: auto;
    }

    .info-group {
        flex-direction: column;
        gap: 10px;
    }
}
